/*- - - - - styles of ChrNagad.html - Chr. Nagad - created on may 13th 2019 */
html {
  scroll-behavior: smooth;
}
body {
  color: whitesmoke;
  background-color: rgb(37, 18, 46);
  margin: auto;
}
/*---------------- boutons de bas de page ---------------*/

.boutonsBas {
  display : flex;
  flex-direction: row;
}
#bouton1Bas {   /*--- bouton page 1 ---*/
  margin-left: 24.25rem;
  margin-bottom: 7rem;
  margin-top: 6.25rem;
}
#bouton2Bas {
  margin-left: 85rem;
  margin-top: 1rem;
}
#bouton2Haut {
  margin-top: 1rem;
}
#bouton3Bas {
  margin-left: 85rem;
}
#bouton3Bas, #bouton3Haut {
  margin-top: 3.35rem;
}
#troisBoutons {
  display: flex;
  margin-bottom: 3rem;
}
#telechargerCV {
  margin: 0.3rem 0rem 0rem 11.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border-width: 0.5px;
  border-color: whitesmoke;
  background-color: rgb(37, 18, 46);
  color: whitesmoke;
}
#bouton4Haut {
  margin-left: 54rem;
  margin-right: 0rem;
  margin-top: 0.3rem;
}
#envoyer {
  margin-left: 11.5rem;
  margin-top: 0.3rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 1rem;
  border-width: 0.5px;
  color: #0080FF;
  border-color: #0080FF;
  background-color: rgb(37, 18, 46);
}
#bouton1Bas, #bouton2Bas, #bouton2Haut, #bouton3Bas, #bouton3Haut, #bouton4Haut {
  padding: 1rem;
  border-radius: 1rem;
  border-width: 0.5px;
  border-color: whitesmoke;
  background-color: rgb(37, 18, 46);
  color: whitesmoke;
}
@media screen and (max-width: 1000px) {      /* les boutons plus au centre */
  #bouton1Bas {
    margin-left: 0rem;
  }
  #bouton2Bas, #bouton3Bas {
    margin-left: 30rem;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 0.5px;
    border-color: whitesmoke;
    background-color: rgb(37, 18, 46);
    color: whitesmoke;
  }
  #bouton2Haut, #bouton3Haut{
    margin-left: 3rem;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 0.5px;
    border-color: whitesmoke;
    background-color: rgb(37, 18, 46);
    color: whitesmoke;
  }
  #bouton4Haut{
    margin-left: 12rem;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 0.5px;
    border-color: whitesmoke;
    background-color: rgb(37, 18, 46);
    color: whitesmoke;
  }
}
/*---------------- page 1 ---------------*/
#hautPage1 {
  display: flex;
  flex-direction: row;
  background-image: url("./sources/PortFolio-Image.jpg");
  background-size: 92%;
  background-repeat:no-repeat;
}
.visage {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  margin: 0rem;
}

.titre h2 {
  font-size: 1.5rem;
  padding: 14rem 0rem 0rem 0rem;
}

@media screen and (max-width: 1000px) {      /* icones et textes à gauche */
  .titre h2 {
    padding: 2rem 0rem 0rem 0rem;
  } }

h1 {
  font-size: 3rem;
  padding: 0rem 0rem 0rem 0rem;
  margin: 0rem;
}
#p1 {
  color: #0080FF;
  font-size: 1.25rem;
  padding: 1rem 0rem 5rem 0rem;
}
.titre {
  display : flex;
  flex-direction: column;
}
/*---------------------- page  2--------------------*/
#hautPage2 {
  display : flex;
  flex-direction: row;
  width: 92% ;
}
#formation {
    font-size: 2rem;
    padding: 20rem 0rem 0rem 42.5rem ;
    margin: 0rem;
  }
  #certif {
    font-size: 1.5rem;
    color: #0080FF;
    margin: 0rem;
    padding: 0rem 0rem 3rem 42.5rem ;
  }
#html {
  position: absolute;
  top: 72rem;
  left: 23.5rem;
  width: 5rem;
}
#html:hover {
  transform: rotateY(180deg);
}
#css {
  position: absolute;
  top: 66rem;
  left: 29rem;
  width: 5rem;
  transition: width 2s;
}
#css:hover {
  width: 100px;
}
#js {
  position: absolute;
  top: 61rem;
  left: 34.5rem;
  width: 5rem;
  transition: all .2s ease-in-out;
}
#js:hover {
  transform: translateY(-3rem);
}
#angular {
  position: absolute;
  top: 59rem;
  left: 40rem;
  width: 5rem;
  transition: all .4s ease-in-out;
}
#angular:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#materialize {
  position: absolute;
  top: 59rem;
  left: 46rem;
  width: 8rem;
  transition: all .2s ease-in-out;
}
#materialize:hover {
  transform: skew(20deg, 20deg);
}
#react {
  position: absolute;
  top: 63rem;
  left: 53rem;
  width: 5rem;
  transition: all .3s ease-in-out;
}
#react:hover {
  transform: rotateY(90deg);
  transform-style: preserve-3d;
}
#gsap {
  position: absolute;
  top: 71.25rem;
  left: 34rem;
  width: 7rem;
  transition: all .2s ease-in-out;
}
#gsap:hover {
  transform: translateX(1.5rem);
}
#agile {
  position: absolute;
  top: 65rem;
  left: 56rem;
  width: 10rem;
  transition: all .6s ease-in-out;
}
#agile:hover {
  transform: rotate(360deg);
}

 /*                  icones et textes à gauche et plus haut */
@media screen and (max-width: 1000px) {     
  #formation {
    font-size: 2rem;
    padding: 20rem 0rem 0rem 22.5rem ;
    margin: 0rem;
  }
  #certif {
    font-size: 1.5rem;
    color: #0080FF;
    margin: 0rem;
    padding: 0rem 0rem 3rem 22.5rem ;
  }
  #html {
    position: absolute;
    top: 52rem;
    left: 3.5rem;
    width: 5rem;
  }
  #css {
    position: absolute;
    top: 46rem;
    left: 9rem;
    width: 5rem;
    transition: width 2s;
  }
  #js {
    position: absolute;
    top: 41rem;
    left: 14.5rem;
    width: 5rem;
    transition: all .2s ease-in-out;
  }
  #angular {
    position: absolute;
    top: 39rem;
    left: 20rem;
    width: 5rem;
    transition: all .4s ease-in-out;
  }
  #materialize {
    position: absolute;
    top: 39rem;
    left: 26rem;
    width: 8rem;
    transition: all .2s ease-in-out;
  }
  #react {
    position: absolute;
    top: 43rem;
    left: 33rem;
    width: 5rem;
    transition: all .3s ease-in-out;
  }
  #gsap {
    position: absolute;
    top: 51.25rem;
    left: 14rem;
    width: 7rem;
    transition: all .2s ease-in-out;
  }
  #agile {
    position: absolute;
    top: 45rem;
    left: 36rem;
    width: 10rem;
    transition: all .6s ease-in-out;
  }}

#blocDe8 {
  display: flex;
  flex-direction: row;
}
.blocDe2 {
  display: flex;
  flex-direction: column;
}

.sousTitre {
  margin: 0rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(37, 18, 46);
  color: whitesmoke;
}
.site {
  width: 100%;
}
/*------------------ page  3---------------------*/
.bleu {
  color: #0080FF;
}
#autresMetiers {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}
#metier1 {
  width: 60%;
  padding-left: 6.5%;
}
#metier1, #metier2 {
  display: flex;
  flex-direction: column;
}
.h3_1 {
  display: flex;
  flex-direction: column;
  font-size: 2.5rem;
  margin-bottom: 0rem;
}
.p3 {
  font-size: 1.5rem;
  color: #0080FF;
  margin: 0.5rem 0rem 4rem 0rem;
}
button img {
  max-width: 100%;
  width: 37rem;
}
.collapsible-header img:hover {
  transform: scale(1.5, 1.5);
}
.collapsible-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.collapsible-body {
  font-size:  1rem;
  padding: 0.5rem 0rem 0.5rem 8rem;
  margin: 0rem;
}
/*------------------- page  4----------------------*/
#hautPage4 {
  display: flex;
  flex-direction: row;
  margin: 3rem 0rem 0rem 0rem;
  padding: 6px;
}

@media screen and (max-width: 700px) { /* le formulaire sous la photo et les coord. */
  #hautPage4 {
      flex-direction: column;
  }}
#partieGauche {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 4rem 0rem 0rem 0rem;
  padding: 0px;
  text-align: center;
  align-items: center;
}
#visageSeul {
  width: 40%;
  margin-top: 25%;
}
#partieGauche h2 {
  font-size: 1.5rem;
}
#partieGauche p {
  margin: 0px;
  padding: 0px;
}
#linkedin, #viadeo {
  color: #0080FF;
}
#partieDroite {
  display: flex;
  flex-direction: column;
  width: 66%;
  margin: 2rem 6.5rem 0rem 0rem;
  padding: 0px;
}
#partieDroite h2 {
  font-size: 2.5rem;
  padding-top: 3rem;
}
#parlons {
  margin-bottom: 4rem;
}
.saisie {
  color: whitesmoke;
}
#story {
  height: 6rem;
}
